#DATABASE CONFIG
MONGO_URI = "mongodb+srv://error403:uncultured@rewindyou.ya1q6fv.mongodb.net/?appName=RewindYou"
DB_NAME = "RewindYou"

#FLASK CONFIG
FLASK_SECRET_KEY = "superrandomsecretblahblahblah"
#FLASK_ENV = "development"

#CHROMADB CONFIG
CHROMA_API_KEY ="ck-DvgMGmSZr5cxgHW5KxQ1ztQfeTkeFMGJShE7U6sfEgiP"
CHROMA_TENANT ="40d451b4-5963-4602-8f0c-746fb4b43293"
CHROMA_DATABASE ="RewindYou"

#JWT CONFIG
JWT_SECRET = "randomjwtsecretblehblehbleh"
JWT_REFRESH_SECRET = "randomjwtrefreshsecretbleh"
# ACCESS_TOKEN_MINUTES=15
# REFRESH_TOKEN_DAYS=7

#MODEL CONFIG
#SUMMARY_MODEL=google/flan-t5-base